.login-page {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh; /* Make the root element take up the full height of the viewport */
    box-sizing: border-box; /* Include padding in the element's total height and width */
    background: #ffffff;
    padding-top: 150px;
} 

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 470px;
}

/* Form takes full width */
form {
    width: 100%;
}

.Name {
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px ;
    margin-bottom: 10px;
    justify-content: center;
    color: black
}

/* Subheading */
p {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

/* Label styles */
label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
}

/* Input field container */
.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
    background: #f9f9f9;
}

/* Input field */
.input-box input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    padding: 8px;
    font-size: 14px;
}

/* Icon styles */
.icon {
    margin-right: 10px;
    color: gray;
}

.icon-right {
    cursor: pointer;
    color: gray;
}

/* Sign-in Button */
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button:hover {
    background-color: #1e4bbf;
}

/* Right Arrow Icon */
.arrow-icon {
    margin-left: 5px;
}